# vi: set ft=systemd ts=4 sw=4 sts=-1 sr noet si tw=0 fdm=manual:

[Unit]
Description=Expire old tcpaste pastes

[Service]
Type=oneshot
SyslogIdentifier=tcp-filter

ExecStart=/usr/local/bin/podman run \
		  --env=DB_FILE=/var/lib/pasted/.var/filter.db \
		  --env=DEST_DIR=/var/lib/pasted \
		  --env=DEST_DIR=/var/lib/pasted \
		  --env=RUST_LOG=debug \
		  --env=STATE_FILE=/var/lib/pasted/.var/state_hasher \
		  --hostname=hasher \
		  --init \
		  --log-driver=passthrough \
		  --mount=type=volume,source=pasted,destination=/var/lib/pasted,U=false \
		  --name=tcpaste-filter-hasher \
		  --network=none \
		  --pull=missing \
		  --rm \
		  --security-opt=label=disable \
		  --subgidname=containers \
		  --subuidname=containers \
		  --tmpfs=/tmp:rw,size=1024M,mode=1777 \
		  betaco.de/strom/rust-tcpaste-pasted:latest /usr/local/bin/tcp-filter-hasher

ExecStart=/usr/local/bin/podman run \
		  --env=DEST_DIR=/var/lib/pasted \
		  --env=DEST_DIR=/var/lib/pasted \
		  --env=RUST_LOG=debug \
		  --env=STATE_FILE=/var/lib/pasted/.var/state_nude \
		  --hostname=nude \
		  --init \
		  --log-driver=passthrough \
		  --mount=type=volume,source=pasted,destination=/var/lib/pasted,U=false \
		  --name=tcpaste-filter-nude \
		  --network=none \
		  --pull=missing \
		  --rm \
		  --security-opt=label=disable \
		  --subgidname=containers \
		  --subuidname=containers \
		  --tmpfs=/tmp:rw,size=1024M,mode=1777 \
		  betaco.de/strom/rust-tcpaste-pasted:latest /usr/local/bin/tcp-filter-nude