# vi: set ft=systemd ts=4 sw=4 sts=-1 sr noet si tw=0 fdm=manual:

[Unit]
Description=Podman container-mariadb.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Delegate=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
Type=notify
NotifyAccess=all
SyslogIdentifier=mariadb

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/local/bin/podman run \
		  --cap-add=chown,dac_override,kill,setuid,setgid,sys_chroot \
		  --cap-drop=all \
		  --cgroups=split \
		  --cidfile=%t/%n.ctr-id \
		  --detach \
		  --env=TZ=Europe/Berlin \
		  --hostname=mariadb \
		  --init \
		  --label=io.containers.autoupdate.authfile=/etc/podman/dockerio.json \
		  --label=io.containers.autoupdate=registry \
		  --log-driver=passthrough \
		  --mount=type=bind,src=/etc/podman/mariadb,dst=/etc/mysql/conf.d,ro=true,U=false \
		  --mount=type=volume,source=mariadb,destination=/var/lib/mysql,U=false \
		  --name=mariadb \
		  --network=betaco \
		  --publish=127.0.0.1:3306:3306 \
		  --pull=missing \
		  --replace \
		  --rm \
		  --sdnotify=conmon \
		  --security-opt=no-new-privileges \
		  --security-opt=seccomp=/etc/podman/seccomp.json \
		  --subgidname=containers \
		  --subuidname=containers \
		  --tmpfs=/tmp:rw,size=1024M,mode=1777 \
		  docker.io/library/mariadb:10.9.2
ExecStop=/usr/local/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/local/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target