[Unit]
Description=Reload nft-blackhole service
After=network-online.target
Wants=network-online.target

Requisite=container-nft-blackhole.service
After=container-nft-blackhole.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/podman run \
		  --cap-add=net_admin \
		  --detach \
		  --hostname=nft \
		  --log-driver=passthrough \
		  --network=host \
		  --pull=missing \
		  --rm \
		  --tmpfs=/tmp:rw,size=1024M,mode=1777 \
		  betaco.de/strom/nft-blackhole:latest reload
