# vi: set ft=systemd ts=4 sw=4 sts=-1 sr noet si tw=0 fdm=manual:

[Unit]
Description=Podman container-lt.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Delegate=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
Type=notify
NotifyAccess=all
SyslogIdentifier=lt

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
		  --cap-add=chown,kill,setuid,setgid,sys_chroot \
		  --cap-drop=all \
		  --cgroups=split \
		  --cidfile=%t/%n.ctr-id \
		  --cpu-shares=512 \
		  --detach \
		  --env="Java_Xms=512m" \
		  --env="Java_Xmx=2g" \
		  --env="langtool_lananguageModel=/ngrams" \
		  --init \
		  --label=io.containers.autoupdate.authfile=/etc/podman/dockerio.json \
		  --label=io.containers.autoupdate=registry \
		  --log-driver=passthrough \
		  --memory=3g \
		  --mount=type=volume,source=ngrams,destination=/ngrams,U=true,ro=true \
		  --name=lt \
		  --network=lt \
		  --no-healthcheck \
		  --oom-score-adj=999 \
		  --publish="127.0.0.1:8010:8010" \
		  --pull=missing \
		  --replace \
		  --rm \
		  --sdnotify=conmon \
		  --security-opt=no-new-privileges \
		  --subgidname=containers \
		  --subuidname=containers \
		  --tmpfs=/tmp:exec,rw \
		  docker.io/erikvl87/languagetool:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
