# vi: set ft=systemd ts=4 sw=4 sts=-1 sr noet si tw=0 fdm=manual:

[Unit]
Description=Podman container-strelaysrv.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Delegate=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
Type=notify
NotifyAccess=all
SyslogIdentifier=strelaysrv

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
		  --cap-add=chown,kill,setuid,setgid,sys_chroot \
		  --cap-drop=all \
		  --cgroups=split \
		  --cidfile=%t/%n.ctr-id \
		  --detach \
		  --env=PGID=1000 \
		  --env=PUID=1000 \
		  --env=TZ=Europe/Berlin \
		  --init \
		  --label=io.containers.autoupdate.authfile=/etc/podman/dockerio.json \
		  --label=io.containers.autoupdate=registry \
		  --log-driver=journald \
		  --mount=type=volume,source=strelaysrv,destination=/var/strelaysrv,U=false \
		  --name=strelaysrv \
		  --network=syncthing \
		  --no-healthcheck \
		  --publish="0.0.0.0:22067:22067/tcp" \
		  --pull=missing \
		  --replace \
		  --rm \
		  --sdnotify=conmon \
		  --security-opt=no-new-privileges \
		  --subgidname=containers \
		  --subuidname=containers \
		  localhost/strelaysrv:latest -pools="" -status-srv="" -debug
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target