*.bak
# profile
core/profile/.config/profile/local/*
core/profile/.config/profile/conf.d/*
!core/profile/.config/profile/conf.d/README.md
# bash
core/bash/.config/bash/rc.pre
core/bash/.config/bash/rc.post
core/bash/.config/bash/source.d/*
core/bash/.config/bash/source/local/*.sh
# git
core/git/.config/git/*.local
# systemd
**/systemd/user/**/override.conf
# neovim
core/[nl]vim/.config/[nl]vim/plugin/*
# vifm
core/vifm/.config/vifm/vifminfo.json
# gnupg
core/gnupg/.gnupg/*
!core/gnupg/.gnupg/*.conf
# mpv
extra/mpv/.config/mpv/*
!extra/mpv/.config/mpv/input.conf
!extra/mpv/.config/mpv/mpv.conf
# kitty
extra/kitty/.config/kitty/*
!extra/kitty/.config/kitty/kitty.conf
!extra/kitty/.config/kitty/font.conf
!extra/kitty/.config/kitty/kitty.conf.example
# alacritty
extra/alacritty/.config/alacritty/*
!extra/alacritty/.config/alacritty/alacritty.yml
!extra/alacritty/.config/alacritty/alacritty.yml.example
!extra/alacritty/.config/alacritty/font.yml
# newsboat
extra/newsboat/.config/newsboat/urls