# bash
core/bash/.config/bash/rc.pre
core/bash/.config/bash/rc.post
# git
core/git/.config/git/*.local
# fish
staging/fish/.config/fish/fishd.*
staging/fish/.config/fish/functions/*
staging/fish/.config/fish/conf.d/*
staging/fish/.config/fish/functions/fish_prompt.fish
staging/fish/.config/fish/completions
staging/fish/.config/fish/fish_variables
# systemd
core/systemd/user/telegram-notification@.service.d/override.conf
# neovim
core/nvim/.config/nvim/*
!core/nvim/.config/nvim/init.lua
!core/nvim/.config/nvim/lua
# kitty
staging/kitty/.config/kitty/theme.conf
# gnupg
core/gnupg/.gnupg/*
!core/gnupg/.gnupg/*.conf
# mpv
extra/mpv/.config/mpv/*
!extra/mpv/.config/mpv/input.conf
!extra/mpv/.config/mpv/mpv.conf
# pulseaudio
staging/pulse/.config/pulse/*
!staging/pulse/.config/pulse/daemon.conf
!staging/pulse/.config/pulse/pulse.pa
# tmux
core/tmux/.config/tmux/hooks/_*.hook
core/tmux/.config/tmux/hooks/_*.sh
# kitty
extra/kitty/.config/kitty/*
!extra/kitty/.config/kitty/kitty.conf
!extra/kitty/.config/kitty/*.session
# alacritty
extra/alacritty/.config/alacritty/*
!extra/alacritty/.config/alacritty/alacritty.yml
# newsboat
extra/newsboat/.config/newsboat/urls

