# .xprofile
# debug
if [[ -e "${XDG_CONFIG_HOME}/xprofile/_debug" ]]; then
	echo "$(date +%s): .xprofile" >> "${HOME}/shell_debug.log"
fi

if [[ -r "${HOME}/.profile" && -z $PROFILE_SOURCED ]]; then
	source "${HOME}/.profile"
fi
# vim: set ft=sh ts=4 sw=4 sts=0 tw=0 noet :
# EOF
