[Desktop Entry]
Type=Application
Exec=nvidia-settings --load-config-only
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=nvidia-settings
Name=nvidia-settings
Comment[en_US]=
Comment=
X-GNOME-Autostart-Delay=0
