# vi: set ft=systemd ts=4 sw=4 sts=-1 sr noet si tw=0 fdm=manual:

[Unit]
Description=autorestic

[Timer]
OnStartupSec=5m
OnUnitActiveSec=1h
AccuracySec=1m

[Install]
WantedBy=timers.target