# ~/.xprofile
# this is a hack for native gtk widgets in qt apps
export DESKTOP_SESSION=gnome
export XDG_CURRENT_DESKTOP=gnome

# not sure if this is the preferred place with a DM
xset b off
hhpc -i9 -- > /dev/null 2>&1 &

# EOF
# vim :set ft=bash ts=4 sw=4 sts=4 et :
