[Unit]
Description=autorestic

[Service]
Type=oneshot
ExecStart=/usr/local/bin/autorestic --restic-bin /usr/local/bin/restic cron --lean
WorkingDirectory=/home/zeno/tmpfs
