[Unit]
Description=Fetch newsboat RSS articles

[Timer]
OnBootSec=5min
OnUnitActiveSec=20min
Persistent=false
RandomizedDelaySec=60

[Install]
WantedBy=default.target

