[Desktop Entry]
Name=PrisonArchitect-alsa
Name[de]=PrisonArchitect-alsa
Exec=env -- SDL_VIDEO_FULLSCREEN_HEAD=0 SDL_AUDIODRIVER=alsa AUDIODEV=sysdefault:CARD=DX pasuspender -- ~/opt/prison/prisonarchitect-alpha24c-linux/PrisonArchitect &>/dev/null
Comment=alsamixer -L listed PCM used
Icon=PrisonArchitect
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
