[Unit]
Description=Restic backup service on shutdown
#OnFailure=telegram-notification@%n.service
PartOf=backup@%i.target

[Service]
Type=oneshot
ExecStop=/usr/bin/flock --verbose --no-fork "%h/.config/backup/restic/repos/%i" restic-runner --repo "%i" --set shutdown backup
SyslogIdentifier=restic-runner
RemainAfterExit=true
TimeoutSec=5min

[Install]
WantedBy=backup@%i.target
