[Unit]
Description=minidlna server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/minidlnad -f %h/.config/minidlna/minidlna.conf -P %t/minidlna/minidlna.pid
PIDFile=%t/minidlna/minidlna.pid

[Install]
WantedBy=multi-user.target
