# ~/.config/systemd/user/mpd.service

[Unit]
Description=Music Player Daemon
After=pulseaudio.service

[Service]
Type=forking
Environment=PULSE_PROP=application.icon_name=sound
PIDFile=%t/mpd/mpd.pid
ExecStartPre=/usr/bin/mkdir -p %t/mpd
ExecStart=/usr/bin/mpd
ExecStop=/usr/bin/mpd --kill


[Install]
WantedBy=default.target
Also=mpd.socket
